* {
  cursor: url(../img/genshin_cursor.cur), auto !important;
}

body {
  padding-block: 1rem;
}

label img {
  width: 30px;
  height: 30px;
}

input[type="number"] {
  width: 5rem;
  text-align: center;
  font-family: inherit;
  border: none;
  border-radius: 6px;
}

h4 > span {
  color: #e74c3c;
  font-weight: bold;
}

section {
  border: 1px solid #eee;
  border-radius: 8px;
}

.banner-img {
  max-width: 500px;
  max-height: 250px;
  width: 100%;
  margin: 0 auto;
}

.my-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #21364c;
  color: adb5bd;
  padding: 2rem;
  border-radius: 8px;
  font-size: 110%;
}

.close-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: -20px;
  top: -20px;
}

.confirm {
  border: none;
  background-color: #adb5bd;
  padding: 8px 20px;
  border-radius: 8px;
}

.char-modal {
  display: none;
}
.weapon-modal {
  display: none;
}
.perm-modal {
  display: none;
}

.fa-plus-square,
.fa-minus-square {
  font-size: 1.3rem;
  margin-left: 0.3rem;
}
